* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-top {
  width: 100%;
  height: 60px;
  background: lightblue;
}

.title {
  font-size: 50px;
  color: black;
  text-align: center;
  margin-top: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.myLogin {
  position: absolute;
  top: 150px;
  right: 260px;
}

form label {
  margin-left: 20px;
  font-family: fantasy;
}

.register {
  text-decoration: underline;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

form.myLogin input[type="text"],
input[type="password"] {
  width: 170%;
  padding: 15px;
  margin: 10px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}

form.myLogin input[type="text"]:focus,
input[type="password"]:focus {
  background: #ddd;
  outline: none;
}

button {
  background: paleturquoise;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.loginbtn {
  float: left;
  width: 50%;
}

/* .image-lake {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100px;
  z-index: -1;
} */

.header {
  font-size: 12px;
  color: black;
  position: absolute;
  left: 100px;
  margin-top: 10px;
  overflow: hidden;
}

.container {
  padding: 100px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#main {
  height: 55px;
  width: 1275px;
  border-bottom: 1px solid rgba(201, 200, 200, 0.699);
  margin-left: 75px;
  overflow-x: hidden;
}

form.search input[type="text"] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  width: 40%;
  background: white;
  display: block;
  position: absolute;
  left: 410px;
  margin-top: 10px;
}

form.search button {
  width: 50px;
  padding: 5px;
  background: rgb(243, 243, 243);
  color: rgb(138, 138, 138);
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;
  position: absolute;
  margin-top: 10px;
  right: 310px;
}

form.search button:hover {
  background: rgb(204, 204, 204);
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

.sign-in-btn {
  background: white;
  width: 100px;
  height: 40px;
  color: rgb(20, 129, 255);
  font-size: 15px;
  float: left;
  border: 1.5px solid rgb(20, 129, 255);
  border-radius: 5px;
  margin-top: 10px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.sign-in-text {
  position: absolute;
  top: 10px;
}

#menu {
  font-size: 20px;
  color: rgb(109, 107, 107);
  position: absolute;
  top: 20px;
  left: 30px;
  overflow-x: hidden;
  cursor: pointer;
}

#menu:hover {
  cursor: pointer;
}

#home {
  font-size: 20px;
  color: rgb(109, 107, 107);
  position: absolute;
  top: 67px;
  left: 1px;
  padding: 20px 25px;
  overflow-x: hidden;
}

#home:hover {
  background: lightgray;
  cursor: pointer;
}

.t-home {
  position: absolute;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(15, 15, 15);
  top: 45px;
  left: 18px;
  cursor: pointer;
}

.shop {
  height: 100%;
  width: 75px;
  position: fixed;
}

.main-content {
  width: 1200px;
  height: 100%;
  position: absolute;
  top: 55px;
  margin-left: 75px;
  background: rgb(248, 248, 248);
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightgray;
  overflow-x: hidden;
  padding-top: 60px;
  transition: all 0.2s ease;
  list-style: none;
  text-decoration: none;
}

#mall {
  position: absolute;
  top: 20px;
  left: 60px;
  color: black;
}

.side-menu ul a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(0, 0, 0);
  display: block;
  transition: 0.3s;
  box-sizing: border-box;
}

.side-menu ul a i {
  margin-right: 16px;
}

.homebtn:hover {
  background: rgb(245, 239, 239);
}

.closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
}

.open {
  cursor: pointer;
}

.subpage {
  background: rgb(51, 51, 51);
  margin: 0px;
  position: sticky;
}

.subpage a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(196, 196, 196);
  letter-spacing: 1px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  padding: 16px 24px;
}

.subpage a:hover {
  background: rgb(90, 90, 90);
}

/* .image {
  position: relative;
  z-index: 1;
  top: 0px;
}
.image .theImage {
  max-width: 100%;
  max-height: 100vh;
}

.paragraph {
  padding: 0px 24px;
  text-align: justify;
  font-size: 20px;
} */

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
