/* Setting for all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Login page */

/* Style of the div of title of the login page */
.title-top {
  width: 100%;
  height: 60px;
  background: lightblue;
}
/* Style of the header of the login page */
.title {
  font-size: 50px;
  color: black;
  text-align: center;
  margin-top: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* Style of the button of login page */
.myLogin {
  position: absolute;
  top: 150px;
  right: 260px;
}
/* Style of the label (username, password, etc.) in the form */
form label {
  margin-left: 20px;
  font-family: fantasy;
}
/* Style the sentence of "register an account" */
.register {
  text-decoration: underline;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
/* Style the input field of the form in login page */
form.myLogin input[type="text"],
input[type="password"] {
  width: 170%;
  padding: 15px;
  margin: 10px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}
/* Have black shadow on input field while click on it */
form.myLogin input[type="text"]:focus,
input[type="password"]:focus {
  background: #ddd;
  outline: none;
}
/* Change the opacity of all buttons to 1 when hover through */
button:hover {
  opacity: 1;
}
/* Style the login button */
.loginbtn {
  float: left;
  width: 50%;
  background: paleturquoise;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  outline: none;
}
/* Style the whole form */
.container {
  padding: 100px;
}
/* Have the border include the form (clearfix effect) */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Homepage */

/* Style the header of the homepage */
.header {
  font-size: 12px;
  color: black;
  position: absolute;
  left: 100px;
  margin-top: 10px;
  overflow: hidden;
}
/* Style the whole top div of the homepage */
#main {
  height: 55px;
  width: 1200px;
  border-bottom: 1px solid rgba(201, 200, 200, 0.699);
  margin-left: 75px;
  overflow-x: hidden;
}
/* Style of input field of the search box */
form.search input[type="text"] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  width: 40%;
  background: white;
  display: block;
  position: absolute;
  left: 410px;
  margin-top: 10px;
}
/* Style of the search button */
form.search button {
  width: 50px;
  padding: 5px;
  background: rgb(243, 243, 243);
  color: rgb(138, 138, 138);
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;
  position: absolute;
  margin-top: 10px;
  right: 310px;
}

form.search button:hover {
  background: rgb(204, 204, 204);
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}
/* Style of the sign in button */
.sign-in-btn {
  background: white;
  width: 100px;
  height: 40px;
  color: rgb(20, 129, 255);
  font-size: 15px;
  float: left;
  border: 1.5px solid rgb(12, 103, 207);
  border-radius: 5px;
  margin-top: 10px;
  position: absolute;
  right: 10px;
  cursor: pointer;
  outline: none;
}
/* Style of the text of the sign in button */
.sign-in-text {
  position: absolute;
  top: 10px;
  left: 20px;
}
/* Style of the menu icon at the side */
#menu {
  font-size: 20px;
  color: rgb(109, 107, 107);
  position: absolute;
  top: 20px;
  left: 30px;
  overflow-x: hidden;
  cursor: pointer;
}

#menu:hover {
  cursor: pointer;
}
/* Style of the home icon at the side */
#home {
  font-size: 20px;
  color: rgb(109, 107, 107);
  position: absolute;
  top: 67px;
  left: 1px;
  padding: 20px 25px;
  overflow-x: hidden;
}

#home:hover {
  background: lightgray;
  cursor: pointer;
}
/* Style of the text below the home icon */
.t-home {
  position: absolute;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(15, 15, 15);
  top: 45px;
  left: 18px;
  cursor: pointer;
}
/* Style of the side bar visible */
.shop {
  height: max-content;
  width: 75px;
  position: fixed;
}
/* Style the hided side menu */
.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightgray;
  overflow-x: hidden;
  padding-top: 60px;
  transition: all 0.2s ease;
  list-style: none;
  text-decoration: none;
}
/* Style the title (The mall of Youth) in the hided side menu */
#mall {
  position: absolute;
  top: 20px;
  left: 60px;
  color: black;
}
/* Style the links in the hided side menu */
.side-menu ul a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(0, 0, 0);
  display: block;
  transition: 0.3s;
  box-sizing: border-box;
}
/* Style the icon of the link in the hided side menu */
.side-menu ul a i {
  margin-right: 16px;
}
/* Hover home button in the hided side menu */
.homebtn:hover {
  background: rgb(245, 239, 239);
}
/* Style the menu icon in the hided side menu */
.closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
}
/* Style the menu icon in the visible side menu */
.open {
  cursor: pointer;
}
/* Style of the main-content */
.main-content {
  width: 1200px;
  height: 200%;
  position: absolute;
  top: 55px;
  margin-left: 75px;
  background: rgb(248, 248, 248);
}
/* Style of the link in the main content */
.main-content a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  padding: 16px 24px;
}

.main-content a:hover {
  background: rgb(90, 90, 90);
}
/* Position of the blog link */
.blog {
  position: absolute;
  top: 0px;
  left: 300px;
}
/* Position of the paint link */
.paint {
  position: absolute;
  top: 0px;
  left: 150px;
}
.dropdown {
  width: 200px;
}
/* Style of the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background: rgb(226, 231, 235);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.185);
  z-index: 1;
}
/* Style of the link in the dropdown content */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Style of the dropdown button (Stock photos) */
.dropbtn {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  padding: 16px 24px;
  background: rgb(248, 248, 248);
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0.6);
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Style of the black boxes */
.photos {
  width: 290px;
  height: 300px;
  background: rgb(54, 52, 52);
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 100px;
}
/* Style of the info down the first black box */
.info {
  position: absolute;
  margin: 0px;
  margin-top: -100px;
  width: 300px;
  height: auto;
  float: center;
}

/* .btns {
  background: white;
  padding: 20px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  outline: none;
}

.btn-active {
  padding: 30px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  outline: none;
  background: white;
} */

/* .image-lake {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100px;
  z-index: -1;
} */

/* .image {
  position: relative;
  z-index: 1;
  top: 0px;
}
.image .theImage {
  max-width: 100%;
  max-height: 100vh;
}

.paragraph {
  padding: 0px 24px;
  text-align: justify;
  font-size: 20px;
} */

/* .column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
} */
