* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-size: 12px;
  color: black;
  position: absolute;
  left: 100px;
  margin-top: 10px;
  overflow-x: hidden;
}

#main {
  height: 55px;
  width: 1275px;
  border-bottom: 1px solid rgba(201, 200, 200, 0.699);
  margin-left: 75px;
  overflow-x: hidden;
}

form.search input[type="text"] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  width: 40%;
  background: white;
  display: block;
  position: absolute;
  left: 410px;
  margin-top: 10px;
}

form.search button {
  width: 50px;
  padding: 5px;
  background: rgb(243, 243, 243);
  color: rgb(138, 138, 138);
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;
  position: absolute;
  margin-top: 10px;
  right: 310px;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

.sign-in {
  background: white;
  width: 100px;
  height: 40px;
  color: rgb(20, 129, 255);
  font-size: 15px;
  float: left;
  border: 1.5px solid rgb(20, 129, 255);
  border-radius: 5px;
  margin-top: 10px;
  position: absolute;
  right: 10px;
}

#menu {
  font-size: 20px;
  color: rgb(109, 107, 107);
  position: absolute;
  top: 20px;
  left: 30px;
  overflow-x: hidden;
  cursor: pointer;
}

#menu:hover {
  color: lightblue;
  cursor: pointer;
}

#home {
  font-size: 20px;
  color: rgb(109, 107, 107);
  position: absolute;
  top: 67px;
  left: 1px;
  padding: 20px 25px;
  overflow-x: hidden;
}

#home:hover {
  background: lightgray;
  cursor: pointer;
}

.t-home {
  position: absolute;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(85, 83, 83);
  top: 110px;
  left: 20px;
  cursor: pointer;
}

.shop {
  height: 100%;
  width: 75px;
  position: fixed;
}

.main-content {
  width: 1200px;
  height: 100%;
  position: absolute;
  top: 55px;
  margin-left: 75px;
  background: rgb(248, 248, 248);
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightgray;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

a:hover {
  color: darkblue;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
}

.open {
  cursor: pointer;
}
