* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }

  .heading {
    background: black;
    height: 60px;
  }
  
  .logo {
    color: #35c889;
    font-size: 40px;
    padding: 8px 20px 20px 50px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  
  .name {
    font-family: Arial, Helvetica, sans-serif;
    color: #90c889;
    position: absolute;
    left: 100px;
    top: 18px;
  }
  
  .home {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  
  .home a {
    text-decoration: none;
    color: rgb(80, 204, 183);
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
  }


  .heading .logout {
    color: #000;
    font-size: 17px;
    padding: 7px 15px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    position: absolute;
    top: 15px;
    right: 150px;
    text-decoration: none;
    cursor: pointer;
  }

  .chat a {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    right: 500px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .resource a{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    right: 250px;
    cursor: pointer;
    text-decoration: none;
  }
  .profile a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    right: 380px;
  }

.main {
    width: 100vw;
    height: 600px;
    background: rgb(255, 255, 255);
}

.main h2{
    position: relative;
    top: 20px;
    left: 50px;
}

.space{
    height: 200px;
    width: 100vw;
}

.search{
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    margin-left: 500px;
}

.users .search input {
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .users .search input.active{
    opacity: 1;
    pointer-events: auto;
  }

.search button {
    width: 100px;
    height: 42px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border-radius: 0 5px 5px 0;
    margin-left: 300px;
  }


.users-list h2{
    margin-bottom: 20px;
}

.users-list .container{
    margin-bottom: 100px;
    background: rgb(99, 221, 205);
    height: 230px;
}

.search1{
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    margin-left: 500px;
}

.users .search1 input {
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .users .search1 input.active{
    opacity: 1;
    pointer-events: auto;
  }

.search1 button {
    width: 100px;
    height: 42px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border-radius: 0 5px 5px 0;
    margin-left: 300px;
  }

.container button{
    background: rgb(92, 180, 207);
  width: 100px;
  height: 40px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  float: left;
  border: 1.5px solid rgb(45, 117, 199);
  border-radius: 20px;
  position: relative;
  top: -100px;
left: 500px;
  cursor: pointer;
  outline: none;
}

.container button a{
color: black;
}

.add{
  position: absolute;
  left: 100px;
  top: 100px;
  background-color: rgb(255, 255, 255);
}

.add1{
  position: absolute;
  left: 1050px;
  top: 100px;
  background-color: rgb(255, 255, 255);
}