* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.heading {
  background: black;
  height: 60px;
}

.logo {
  color: #35c889;
  font-size: 40px;
  padding: 8px 20px 20px 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  color: #90c889;
  position: absolute;
  left: 100px;
  top: 18px;
}

.home {
  font-family: Arial, Helvetica, sans-serif;
}

.home a {
  text-decoration: none;
  color: rgb(80, 204, 183);
  position: absolute;
  top: 20px;
  right: 40px;
}

.main {
  background: rgb(60, 207, 183);
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.signUpBtn {
  width: 30%;
  background: paleturquoise;
  color: black;
  padding: 14px 20px;
  margin: 50px 50px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  outline: none;
  position: relative;
  margin-left: 140px;
}

.wrapper{
  background: #fff;
  width: 450px;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
      0 32px 64px -48px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100px;
  left: 100px;
}

.users {
  padding: 25px 30px;
}

.users header{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}

:is(.users,.users-list) .content {
  display: flex;
  align-items: center;
}

.users header .content img {
  height: 50px;
  width: 50px;
}

:is(.users,.users-list) .details {
  color: #000;
  margin-left: 15px;
}

:is(.users,.users-list) details span {
  font-size: 18px;
  font-weight: 500;
}

.heading .logout {
  color: #000;
  font-size: 17px;
  padding: 7px 15px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 150px;
}

.users .search {
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.users .search .text {
  font-size: 18px;
}
.users .search input {
  position: absolute;
  height: 42px;
  width: calc(100% - 50px);
  border: 1px solid #ccc;
  padding: 0 13px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.users .search button {
  width: 47px;
  height: 42px;
  border: none;
  outline: none;
  color: #fff;
  background: #333;
  border-radius: 0 5px 5px 0;
}

.users-list{
  max-height: 280px;
  overflow-y: auto;
}

.users-list::-webkit-scrollbar{
  width:0px;
}

.users-list a{
  margin-bottom: 15px;
  page-break-after: 10px;
  padding-right: 15px;
  border-bottom-color: #f1f1f1;
}

.users-list a:last-child{
  bottom: none;
  margin-bottom: 0px;
}

.users-list a .content img{
  height: 40px;
  width: 40px;
}

.users-list a .status-dot{
  font-size: 12px;
  color: #468869;
  margin-left: 300px;
  position: relative;
  top: -20px;
}

.users-list a .content p{
  color: #67676a;
}

.users-list a .status-dot.offline{
  color: #ccc;
}
